{
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "tsconfigRootDir": "."
  },
  "ignorePatterns": ["node_modules/", "dist/", "non_npm_dependencies/"],
  "extends": "@carp-dk/eslint-config"
}
